@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body, html {
	height:100vh;
}

p {
	margin: 0;
}

#bgImg {
	background-image: url("images/ireland-by-jonas-fehre.jpg");
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

#quoteBox {
	background-color: rgba(151, 154, 170, .5);
	display: flex;
	align-items: center;
	justify-content: center;
}

#text {
	width: 80%;
}

#quote {
	font-family: Poppins, sans-serif;
	font-size: 2em;
}

#citation {
	font-family: Poppins, sans-serif;
	font-size: 1em;
	font-style: italic;
	font-weight: bold;
	padding-left: 75px;
}